<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">Fancy stuff that I like</div>
    <ul class="categories">
	    <li><a href="https://www.youtube.com/channel/UCJ0-OtVpF0wOKEqT2Z1HEtA">Electroboom</a></li>
   	    <li><a href="http://www.ladyada.net">Ladyada</li>
	    <li><a href="https://www.youtube.com/channel/UCUllb83Lugbka-rvF6Nutxg">Kreosan</a></li>
        <!--{% for category in site.data.categories %}-->
           <!-- <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>-->
        <!--{% endfor %}-->
		<!--<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>-->
    </ul>
</div>
